*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body{
    position: relative;
    background-color: black;
} */
nav{
    width: 18%;
    height: 100vh;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999999;
   
}

.animate__animated.animate__slideInUp {
    --animate-duration: 3s;
  }
.nav-content{
    width: 80%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 10px;
    position: relative;
    left: -80%;
   
}
.nav-btns{
    position: relative;
    left: -80%;
    padding: 5px;
}
.nav-links ul li{
    margin-bottom: 15px;
    padding: 0px 20px;
}
.nav-links ul li:first-child{
    margin-top: 20px;
}
.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Courgette', cursive;
    /* position: relative;
    top: 50px;
    background-color: blue; */
}
.nav-icons span{
    margin-left: 10px;
    font-size: 18px;
    color: #fff;
}
.mainBtn span{
    width: 30px;
    height: 3px;
    
    background-color: black;
    margin: 5px;
    display: block;
    cursor: pointer;
}
.closeBtn{
    cursor: pointer;
}
.nav-btns{
    width: 19%;
}
#search ,#contact{
    height: 100vh;
}
#search input {
    outline: 0 !important;
}
.layer{
    top: 115% !important;
    transition: top .5s;
   max-block-size:100px;
   font-family: 'Courgette', cursive;
  max-height: fit-content;
  



}
.item:hover .layer{
    top: 0px !important;
}

.item:nth-child(5) .layer{
 height: 200px !important;
}


.meal-layer{
    top: 130% !important;
    transition: top .5s;
   font-family: 'Courgette', cursive;
}
.item:hover .meal-layer{
    max-width: 100% !important;
    top:0px !important ;
}
.area h3{
    font-family: 'Courgette', cursive;

}
.meal-ingredient .inner{
    max-height: 200px;
    
    overflow: hidden;
    font-family: 'Courgette', cursive;

}
.disabled{
    cursor: default !important;
} 
.mail-alert {
    font-size: 14px !important;
}

 #mealDetail{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
} 

#mealDetail button a{
    text-decoration: none !important;
    color: #fff;
    font-family: 'Courgette', cursive;

}
#mealDetail span {
    background-color:#fff;
    display:inline-block;
   border-radius: 5px;
   padding: 3px;
   margin: 5px 0px;
   color: #09c !important;
}
#mealDetail p
{
    font-size: 14px !important;
}
